.container{
    width: 80%;
    height: 300px;
    border: 1px dotted black;
    position: relative;
}
.caixa{
    width: 50px;
    height: 50px;
    border-radius: 0;
    display: inline-block ;
    position: absolute;
    top: 100px;
    animation-name: framecaja;
    animation-duration: 3s;
    
}
.vermell{
    background-color: red;
    left: 10px;
}
.blau{
    background-color: blue;
    left: 70px;
}
.groc{
    background-color: yellow;
    left: 130px;
}
@keyframes framecaja {
    0%   {top: 200px;}
    25%  {top: 150px;}
    50%  {transform: rotate(35deg);}
    100% {top: 250px; rotate: 0deg;}

  }